p {
	color: #5E4A3F;
}

/* Fixed setting for battle grid bug */
#dashboard {
	height: 296px !important;
}
 
/* MAP */ 
.box {
	width: 3.75rem;
	height: 3.75rem;
	position: absolute;
	z-index: 10;
}

.borded {
	position: unset;
	border: 1px solid grey;
	z-index: 2;
}

#map, #grid {
	width: 1020px;
	height: 1260px;
	left: 0;
	top: 220px;
}

input[id^='coord'] {
	width: 56px;
}

.deleted {
	opacity: 0.25 !important;
}



/* COLORS */
.bg-very-light-brown {
	background-color: #F3E2D2 !important;
}

.bg-brown {
	background-color: #5E4A3F !important;
}

.bg-brick {
	background-color: #8B4F39 !important;
}

.bg-stone {
	background-color: #d3d3d3 !important;
}



/* MARGINS */



/* WIDTH */
.w426 {
	width: 26.625rem !important;
}

.w100min {
	min-width: 6.25rem !important;
}

.w33vw {
	width: 33vw !important;
}


/* TEXTS */
.text-brown {
	color: #5E4A3F !important;
}

.opacity-25 {
	opacity: 0.25 !important;
}