body {
	background-color: #F3E2D2;
}

p {
	color: #5E4A3F;
}

/* Dashboard height must be multiple of 60 */
#dashboard {
	/* height: 296px !important; */
	height: 116px !important;
}
 
/* MAP */ 
.box {
	width: 3.75rem;
	height: 3.75rem;
	position: absolute;
	z-index: 10;
}

.borded {
	position: unset;
	border: 1px solid grey;
	z-index: 2;
}

#map, #grid {
	width: 1020px !important;
	height: 1260px !important;
	/* left: 0; */
	/* top: 220px; */
}

input[id^='coord'] {
	width: 56px;
}

.deleted {
	opacity: 0.25 !important;
}



/* COLORS */
.bg-very-light-brown {
	background-color: #F3E2D2 !important;
}

.bg-brown {
	background-color: #5E4A3F !important;
}

.bg-brick {
	background-color: #8B4F39 !important;
}

.bg-stone {
	background-color: #d3d3d3 !important;
}



/* MARGINS */



/* WIDTH */
.w150 {
	width: 9.375rem !important;
}

.w426 {
	width: 26.625rem !important;
}

.w33vw {
	width: 33vw !important;
}

.w1020 {
	width:63.75rem !important;
}


/* HEIGHT */
.h150 {
	height: 9.375rem !important;
}

.h1260 {
	height: 78.75rem !important;
}


/* TEXTS */

.text-very-light-brown {
	color: #F3E2D2 !important;
}

.text-brown {
	color: #5E4A3F !important;
}

.opacity-25 {
	opacity: 0.25 !important;
}

.text-12 {
	font-size: 0.75rem !important;
}

.text-48 {
	font-size: 3rem !important;
}